# Ignore node_modules and dist in all subdirectories
**/node_modules/
**/dist/

# macOS system file
.DS_Store

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# OS or IDE-specific ignores
*.log
.idea/
.vscode/
